-- Создание пользователя из переменной окружения (если не существует)
DO $$
BEGIN
    IF NOT EXISTS (SELECT FROM pg_catalog.pg_roles WHERE rolname = '${DB_USER}') THEN
        CREATE ROLE "${DB_USER}" WITH LOGIN PASSWORD '${DB_PASS}';
    END IF;
END
$$;

-- Предоставление прав пользователю из переменной окружения
ALTER ROLE "${DB_USER}" CREATEDB;
GRANT ALL PRIVILEGES ON DATABASE "${DB_NAME}" TO "${DB_USER}";

-- Создание схемы data
CREATE SCHEMA IF NOT EXISTS data;

-- Предоставление прав на схему data пользователю из переменной окружения
GRANT ALL ON SCHEMA data TO "${DB_USER}";